<div>
    {% if Requirements.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').exists() %}
        {% if Requirements.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').first().value = 'C' %}
            <span style="border-radius: 999px;margin: 2px 2px;font-size: 10px;display: inline-block;padding: 3px 5px;letter-spacing: 0.5px;line-height: 1;white-space: nowrap;background-color: #e0f2ff;color: #0070c9;border: 1px solid #a3d9ff;">profiled</span>
        {% endif %}     
    {% endif %}
    {% if Requirements.purpose.exists() %}
    <div id="description"><b>Description <a href="https://hl7.org/fhir/versions.html#std-process" title="Informative Content" class="informative-flag">I</a>:</b> {{Requirements.purpose}}</div>
    {% endif %}
    {% for ext in Requirements.extension %}{% if ext.url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-actors' %}
    <div id="actors"><b>Actors:</b> <div><p>{{ext.value}}</p></div></div>
    {% endif %}{% endfor %}
    {% if Requirements.statement.exists() %}
    <div id="requirements"><b>Criteria <a href="https://hl7.org/fhir/versions.html#std-process" title="Normative Content" class="normative-flag">N</a>:</b></div>
    {% endif %}
    <table id="statements" class="grid dict">
        {% for statement in Requirements.statement %}
        <tr>
            <td style="padding-left: 4px;">
            {% if statement.label.exists() %}{{ statement.label }}{% endif %}
            </td>
            <td style="padding-left: 4px;">
            {% if statement.conformance.exists() %}{{ statement.conformance }}{% endif %}
            {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-dependent').exists() %}
                {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-dependent').first().value %}
                <span style="border-radius: 999px;margin: 2px 2px;font-size: 10px;display: inline-block;padding: 3px 5px;letter-spacing: 0.5px;line-height: 1;white-space: nowrap;background-color: #e5f5e5;color: #388e3c;border: 1px solid #a2d1a2;">dependent</span>
                {% endif %}
            {% endif %}
            {% if statement.conditionality %}<span style="border-radius: 999px;margin: 2px 2px;font-size: 10px;display: inline-block;padding: 3px 5px;letter-spacing: 0.5px;line-height: 1;white-space: nowrap;background-color: #f3e5ff;color: #7b1fa2;border: 1px solid #d1a3ff;">conditional</span>{% endif %}
            {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').exists() %}
                {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').first().value = 'C' %}
                    <span style="border-radius: 999px;margin: 2px 2px;font-size: 10px;display: inline-block;padding: 3px 5px;letter-spacing: 0.5px;line-height: 1;white-space: nowrap;background-color: #e0f2ff;color: #0070c9;border: 1px solid #a3d9ff;">                        <a href="https://build.fhir.org/ig/HL7/ehrsfm-ig/Requirements-EHRSFMR2-{{statement.derivedFrom}}.html">profiled</a></span>
                {% endif %}
            {% endif %}
            </td>
            <td style="padding-left: 4px;" class="requirement">
                {% if statement.requirement.exists() %}{{ statement.requirement }}{% endif %}
                {% if statement.satisfiedBy.exists() %}Satisfied by:<ol>
                {% for uri in statement.satisfiedBy %}<li>{{ uri }}</li>{% endfor %}
                </ol>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>