<div>
    <!-- description is in new base template
    <div id="description"><b>Statement <a href="https://hl7.org/fhir/versions.html#std-process" title="Normative Content" class="normative-flag">N</a>:</b> {{Requirements.description}}</div>
    -->
    {% if Requirements.purpose.exists() %}
    <div id="purpose"><b>Description <a href="https://hl7.org/fhir/versions.html#std-process" title="Informative Content" class="informative-flag">I</a>:</b> {{Requirements.purpose}}</div>
    {% endif %}

    {% for ext in Requirements.extension %}
    {% if ext.url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-actors' %}
    <div id="actors"><b>Actors:</b> <div><p>{{ext.value}}</p></div></div>
    {% endif %}
    {% endfor %}

    {% if Requirements.statement.exists() %}
    <div id="requirements"><b>Criteria <a href="https://hl7.org/fhir/versions.html#std-process" title="Normative Content" class="normative-flag">N</a>:</b></div>
    {% endif %}
    <table id="statements" class="grid dict">
        {% for statement in Requirements.statement %}
        {% assign style = '' %}
        {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').exists() %}
            {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').first().value = 'C' %}
                {% assign style = 'background-color: #dafbe1;' %}
            {% endif %}
        {% endif %}
        <tr style="{{ style }}">
            <td style="padding-left: 4px;">
                {% if statement.label.exists() %}
                <div>{{statement.label}}</div>
                {% endif %}
                {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').exists() %}
                    {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-change-info').first().value = 'C' %}
                        <a href="https://build.fhir.org/ig/HL7/ehrsfm-ig/Requirements-EHRSFMR2-{{statement.label}}.html">original</a>
                    {% endif %}
                {% endif %}
            </td>
            <td style="padding-left: 4px;">
                {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-dependent').exists() %}
                    {% if statement.extension.where(url = 'http://hl7.org/ehrs/uv/ehrsfmr2/StructureDefinition/requirements-dependent').first().value %}
                    <i>dependent</i>
                    {% endif %}
                {% endif %}
                {% if statement.conditionality %}
                <i>conditional</i>
                {% endif %}
                {% if statement.conformance.exists() %}
                <div>{{statement.conformance}}</div>
                {% endif %}
            </td>
            <td style="padding-left: 4px;" class="requirement">
                {% if statement.requirement.exists() %}
                <div>{{statement.requirement}}</div>
                {% endif %}
                {% if statement.satisfiedBy.exists() %}
                Satisfied by:<ol>
                {% for uri in statement.satisfiedBy %}
                    <li>{{uri}}</li>
                {% endfor %}
                </ol>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>